@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(gallery.css);
@import url(select.css);

html, body {
	margin: 0;
	height: 100%;
	background-color: #666;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
	font-family: lato;
}

h1 {
	text-align: center;
}

#left, #right {
	width: 50%;
	height: 100%;
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

#left {
	padding-top: 4em;
	border-right: 2px solid #ccc;
}

#right {
	border-left: 2px solid #ccc;
	padding-top: 8em;
	padding-left: 0.5em;
}

#info {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	border: 4px solid #ccc;
	border-top: none;
	text-align: center;
	width: 250px;
	border-radius: 0 0 50px 50px;
	background-color: #666;
	font-size: 130%;
}

#score {
	color: #66f;
}

#status {
	color: #f66;
}

#setup {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.5s;
	background-color: rgba(60, 60, 60, 0.9);
	padding: 0 20%;
	font-size: 130%;
}

#setup.playing {
	transform: translate(0, -100%);
}

.pit {
	position: relative;
	overflow: hidden;
	border: 4px solid #ccc;
	border-top: none;
	margin: auto;
}

.piece {
	position: absolute;
	transition: all 200ms;
}

.cell {
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #ddd inset, -1px -1px 1px #222 inset;
	transition: all 200ms;
}
