html, body {
	margin: 0;
	height: 100%;
	background-color: #666;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}

#left, #right {
	width: 50%;
	height: 100%;
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#left {
	border-right: 2px solid #000;
}

#right {
	border-left: 2px solid #000;
}

#info {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	border: 4px solid #000;
	border-top: none;
	text-align: center;
	width: 200px;
	border-radius: 0 0 30px 30px;
}

.pit {
	position: relative;
	overflow: hidden;
	border: 3px solid #000;
	margin: auto;
}

.piece {
	position: absolute;
	transition: all 200ms;
}

.cell {
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #ddd inset, -1px -1px 1px #222 inset;
	transition: all 200ms;
}

.gallery {
	position: relative;
	border: 3px solid #999;
	border-radius: 15px;
	float: left;
	margin: 0.5em;
	text-align: center;
}

.gallery.disabled {
	opacity: 0.5;
}

.gallery.next {
	box-shadow: 0 0 4px 2px #f00;
	background-color: #eee;
	border-color: #000;
}

.attacker-human .gallery:hover:not(.disabled) {
	cursor: pointer;
	border-color: #000;
}
