.pit {
	background-color: #aaa;
	position: relative;
	overflow: hidden;
}

.piece {
	position: absolute;
	transition: all 200ms;
}

.cell {
	position: absolute;
	border-radius: 3px;
	box-shadow: inset 1px 1px 3px #fff, inset -1px -1px 3px #333;
	transition: all 200ms;
}
